*{
    padding: 0;
    margin: 0;
}
input{
    width: 20vw;
}
header{
    padding: 10px;
    background-color: coral;
    box-shadow: 1px 1px darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    padding: 10px;
    background-color: coral;
    box-shadow:1px 1px  darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: start;
}
main a{
    text-decoration: none;
    color: black;
}
main div{
    margin: 6px;
    padding: 0;
    box-shadow:2px 2px darkgray;
}
section{
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
body{
    display:grid;
    grid-template-rows: 6% 1fr 6%;
    
}
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body{
      display: grid;
      grid-template-rows: 3% 1fr 3%;
}
main{
    height: auto;
    display: grid;
    grid-template-columns: 100%;
}
 .videoPagina{
    width: 100vw;
    height: 100vh;
}
}
    @media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */
    }
    @media screen and (min-device-width : 1200px) {
    /* computadores */
    }
    